body {
    background-color: $color-antiquewhite;

    .container {
        margin: auto;
        max-width: 1650px;
        min-height: 100vh;

        .image {
            width: 30%;

            img {
                width: 100%;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background-color: rgba(0,0,0,.7);
        display: none;
        transition: 1s;
    }
}