@mixin button($order) {
    background-color: white;
    border: 1px solid $color-orange;
    text-transform: uppercase;
    color: $color-orange;
    height: 50px;
    width: 100px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    outline: none;
    order: $order;
    &:hover {
        background-color: $color-orange;
        color: white;
    }
    &:active {
        transform: scale(.9);
    }
}

@mixin popup($px) {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.5);
    padding: $px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    width: 15%;
}

@mixin sure() {
    color: $color-orange;
    font-size: 26px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 28px;
    padding-top: 20px;
    font-weight: 700;
}
