.description {
    background-color: $color-orange;
    header {
        .back {
            color: $color-orange;
            background-color: white;
            text-transform: uppercase;
            font-weight: 700;
            outline: none;
            border: none;
            cursor: pointer;
            user-select: none;
            padding: 15px 30px;
            transform: translate(-140%);

            &:hover {
                background-color: $color-orange;
                color: white;
            }

            &:active {
                transform: scale(.9) translate(-155%);
            }
        }
        .title_logo {
            display: flex;
            transform: translate(-5%);
            i {
                transform: translate(0, 26%);
            }
        }
    }

    .container {
        background-color: $color-antiquewhite;
        .content {
            padding-top: 150px;
            padding-bottom: 150px;
            width: 75%;
            margin: auto;
            table {
                border-collapse: collapse;
                text-align: center;
                tr {
                    td {
                        border: 1px solid black;
                        padding: 5px;
                    }
                    th {
                        border: 1px solid black;
                    }
                }
            }
        }
    }
}