body {
    text-align: center;
    background-color: antiquewhite;


}

.container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*table {*/
    /*border: 2px solid black;*/
    /*border-collapse: collapse;*/
    /*width: 75%;*/
    /*text-align: center;*/
    /*border-radius: 50%;*/
    /*table-layout: fixed;*/
    /*margin: 50px auto;*/
/*}*/


.subtopics {
    display: flex;
    flex-direction: column;
    width: 75%;
    /*border: 1px solid grey;*/
    cursor: pointer;
    margin: auto;
}


/*table tr {*/
    /*border: 1px solid grey;*/
    /*width: 100%;*/

/*}*/

/*table tr:hover {*/
    /*background-color: red;*/
    /*color: white;*/
/*}*/


/*table tr:nth-child(1) {*/
    /*border-bottom: 3px solid black;*/
/*}*/

/*table tr:nth-child(1):hover {*/
    /*background-color: antiquewhite;*/
    /*color: black;*/
    /*border-bottom: 3px solid black;*/
/*}*/

/*table th {*/
/*}*/
    /*margin: auto;*/
/*}*/

.subtopics .tableform {
    width: 100%;
    /*border: 1px solid orange;*/
    background-color: white;
    font-size: 30px;
    color: orange;
}


.subtopics .tableform:active {
    transform: scale(.9);
}

.subtopics .tableform button {
    width: 100%;
    padding: 30px;
    /*pointer-events: none;*/
}

.subtopics .tableform button:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
    user-select: none;
}

/*table td {*/
    /*border: 1px solid grey;*/
    /*cursor: pointer;*/
/*}*/


/*table tr {*/
    /*border: 1px solid grey;*/
    /*width: 100%;*/

/*}*/

/*table tr:hover {*/
    /*background-color: red;*/
    /*color: white;*/
/*}*/


/*table tr:nth-child(1) {*/
    /*border-bottom: 3px solid black;*/
/*}*/

/*table tr:nth-child(1):hover {*/
    /*background-color: antiquewhite;*/
    /*color: black;*/
    /*border-bottom: 3px solid black;*/
/*}*/

/*table th {*/
/*}*/

.topicSpan {
    float: left;
    margin-left: 15%;
}

.subtopicSpan {
    margin-left: 25%;
}


.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}


.page {
    border: 1px solid black;
    width: 1%;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page:hover {
    background-color: #5e94fa;
    color: white;
}

.page:active {
    transform: scale(.9);
}

.topics_form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.topics_form .search {
    width: 30%;
}

.topics_form .search_button {
    width: 10%;
    cursor: pointer;
    user-select: none;
    border: none;
}

.topics_form .search_button:hover {
    background-color: red;
    color: white;
}

.topics_form .search_button:active {
    transform: scale(.9);
}

.topics_form .select_topics {
    width: 20%;
}

.subtopic_container {
    width: 75%;
    margin: auto;
}

.subtopic_container .header {
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;

}

.subtopic_container h1 {
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    margin: auto;
}


.subtopic_container .back {
    padding: 20px 60px;
    background-color: white;
    border: 1px solid orange;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5%;
}


.subtopic_container form {
    margin-top: 20px;
}


.subtopic_container .back:hover {
    background-color: orange;
    color: white;
}

.subtopic_container .back:active {
    transform: scale(.9);
}

.container .pages .back {
    padding: 20px 60px;
    background-color: white;
    border: 1px solid orange;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5%;
}


.container .pages .back:hover {
    background-color: orange;
    color: white;
}

.container .pages .back:active {
    transform: scale(.9);

}

.container .pages .next {
    padding: 20px 60px;
    background-color: white;
    border: 1px solid orange;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5%;
}

.container .pages .next:hover {
    background-color: orange;
    color: white;
}

.container .pages .next:active {
    transform: scale(.9);

}

.container .header {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 75%;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}